summary {
  cursor: pointer;
  outline: none;
}

body {	
  background-image: url("/stars_back.gif");
  background-attachment: fixed;
  color: white;
  font-family: "fixedsys";
  font-size: 16px;
}

p {
  background: transparent;
  color: white;
  font-family: "fixedsys";
  font-size: 16px;
}

div, ol, li, ul, nav {
  background: transparent;	
  color: white;
  font-family: "fixedsys";
  font-size: 16px;
}

.admonition {
    background: transparent;
}

a {	
  color: #c0c0c0;
  font-family: "fixedsys";
  font-size: 16px;
}

a:link {
  color: #c0c0c0;
}

a:visited {
  color: #c0c0c0;
}

a:hover {
  color: #c0c0c0;
}

a:active {
  color: #c0c0c0;
}



h1 {	
  background-color: navy;
  color: white;
  font-family: "fixedsys";
  font-size: 23px;
  padding: 1%;
}
h2 {	
  background-color: navy;
  color: white;
  font-family: "fixedsys";
  font-size: 23px;
  padding: 1%;
}
h3 {	
  background-color: navy;
  color: white;
  font-family: "fixedsys";
  font-size: 23px;
  padding: 1%;
}
code {
  white-space: normal !important;
}
