summary {
  cursor: pointer;
  outline: none;
}

body {	
  background-color: black;
  background-image: url("stars_back.gif");
  background-attachment: fixed;
  color: white;
  font-family: "fixedsys";
  font-size: 16px;
}

p {
  //background: transparent;
  background-color: black;
  color: white;
  font-family: "fixedsys";
  font-size: 16px;
}

div, ol, li, ul, nav {
  //background: transparent;	
  background-color: black;
  color: white;
  font-family: "fixedsys";
  font-size: 16px;
}

table, td, tr, tbody {
  //background: transparent;	
  background-color: black;
  border: 1px solid white;
  color: white;
  font-family: "fixedsys";
  font-size: 16px;
}

thead {
  background-color: navy;
  //border: 1px solid white;
  border-bottom: 0.186981em solid white;
}

th {
  background-color: navy;
  border: 1px solid white;
  //border-bottom: 4px solid white;
  color: white;
  font-family: "fixedsys";
  font-size: 16px;
}

.admonition {
    background: transparent;
}
.bs-sidebar {
    background: transparent;
}


.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{color:black;text-decoration:none;background-color:#00FFFF}
.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus{color:black;text-decoration:none;background-color:#00FFFF;outline:0}

a {	
  color: #c0c0c0;
  font-family: "fixedsys";
  font-size: 16px;
}

a:link {
  color: #c0c0c0;
}

a:visited {
  color: #c0c0c0;
}

a:hover {
  color: #c0c0c0;
}

a:active {
  color: #c0c0c0;
}

a:focus {
  color: #c0c0c0;
}




h1 {	
  background-color: navy;
  color: white;
  font-family: "fixedsys";
  font-size: 23px;
  padding: 1%;
}
h2 {	
  background-color: navy;
  color: white;
  font-family: "fixedsys";
  font-size: 23px;
  padding: 1%;
}
h3 {	
  background-color: navy;
  color: white;
  font-family: "fixedsys";
  font-size: 23px;
  padding: 1%;
}
code {
  white-space: normal !important;
}
textarea {
  background-color: black;
  color: cyan;
  font-family: "fixedsys";
  font-size: 16px;
}
